<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="UdemySuite" parallel="tests" thread-count="2">

    <test name="Test1">
        <classes>
            <class name="testRunner.TestRunner"/>
        </classes>
    </test>

    <test name="Test2">
        <classes>
            <class name="testRunner.TestRunner"/>
        </classes>
    </test>

</suite>